* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: min-content;
  width: 100vw;
  overflow-x: hidden;
}
:root {
  --primary-color: #fff;
  --button-bg-color: #ffd936;
  --button-color: #536924;
}
/* Same Classes */
.same-btn {
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border: 0;
  padding: 15px 40px;
  cursor: pointer;
}
.same-btn:hover {
  background-color: #96791c;
}
/** Header */
header {
  padding: 0 20px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.144)),
    url(../image/header-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
header .logo img {
  width: 60px;
  margin-left: 50px;
}
header .nav-items ul > li,
button {
  padding: 0 16px;
}
header .nav-items button {
  padding: 10px 20px;
  margin-right: 50px;
}
/**Main section */
main {
  overflow: hidden;
  margin-top: 100px;
}

.hero-container h1 {
  font-size: 50px;
}
.hero-container h1 span {
  font-size: 98px;
}
.hero-container p {
  font-size: 18px;
  padding: 0px 360px;
}

.hero-container button {
  margin-top: 20px;
  cursor: pointer;
}
.hero-container button:hover {
  background-color: #96791c;
  color: white;
}
/* Hero section End */
/** Service Section */
#services {
  width: 85vw;
  margin: auto;
  height: min-content;
  margin-top: 100px;
  margin-bottom: 100px;
}
#services h2 {
  color: var(--button-color);
  font-size: 40px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 15px;
  text-decoration-color: #ffd936;
  -moz-text-decoration-color: #ffd936;
  /* margin-bottom: 400px; */
}

#services .service-section {
  margin-top: 100px;
}
.service-column {
  height: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 6px;
}
.service-column img {
  height: 450px;
}
.service-column h3 {
  font-size: 20px;
  color: #536924;
  margin: 9px 0;
}
.service-column p {
  color: #526840bf;
  padding: 0 20px 0 0;
}
.gap-div {
  margin-top: 170px;
}
/* Service Section End */
/** Review Section */
#review {
  width: 98vw;
  height: 470px;
  background-color: #53692433;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  /* margin-top: 100px; */
}
.review-container {
  margin: 0 25px;
}
#review .first img {
  width: 37px;
  opacity: 50%;
}
#review .second p {
  font-size: 36px;
  text-align: center;
  color: #536942;
}
#review .third img {
  width: 60px;
}
#review .third .content {
  text-align: center;
  font-size: 18px;
  color: #536924;
  margin-left: -20px;
  margin-top: 20px;
}
/*? Media Query */
@media (max-width: 1200px) {
  /* Header section  */
  header {
    height: 100vh;
  }
  /* Review Section */
  #review {
    margin-top: 80px;
  }
}
@media (max-width: 992px) {
  /* Header section */
  header {
    height: 100vh;
  }
  /* Hero Section */
  .hero-container h1 {
    font-size: 43px;
  }
  .hero-container h1 span {
    font-size: 85px;
  }
  .hero-container p {
    font-size: 16px;
    padding: 0px 150px;
  }
  .hero-container button {
    margin-top: 20px;
  }
  /* Review Section */
  #review .second p {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  /* Hero Section */
  .hero-container h1 {
    font-size: 35px;
  }
  .hero-container h1 span {
    font-size: 70px;
  }
  .hero-container p {
    font-size: 16px;
    padding: 0px;
  }
  .hero-container button {
    margin-top: 5px;
  }
  /* Review Section */
  #review {
    margin-top: 80px;
  }
  #review .first img {
    width: 32px;
  }
  #review .second p {
    font-size: 20px;
  }
  #review .third img {
    width: 50px;
  }
  /* About Section */
}
@media (max-width: 520px) {
  /* Hero  */
  .hero-container p {
    padding: 0px 50px;
  }
  /* Review */
  #review {
    margin-top: 80px;
  }
}
