* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: min-content;
  width: 100vw;
  overflow-x: hidden;
}
:root {
  --primary-color: #fff;
  --button-bg-color: #ffd936;
  --button-color: #536924;
}
/* Same Classes */
.same-btn {
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border: 0;
  padding: 15px 40px;
  cursor: pointer;
}
.same-btn:hover {
  background-color: #96791c;
}
/** Header */
header {
  padding: 0 20px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.144)),
    url(../image/header-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
header .logo img {
  width: 60px;
  margin-left: 50px;
}
header .nav-items ul > li,
button {
  padding: 0 16px;
}
header .nav-items button {
  padding: 10px 20px;
  margin-right: 50px;
}
/**Main section */
main {
  overflow: hidden;
  margin-top: 100px;
}

.hero-container h1 {
  font-size: 50px;
}
.hero-container h1 span {
  font-size: 98px;
}
.hero-container p {
  font-size: 18px;
  padding: 0px 360px;
}

.hero-container button {
  margin-top: 20px;
  cursor: pointer;
}
.hero-container button:hover {
  background-color: #96791c;
  color: white;
}
/*? Media Query */
@media (max-width: 1200px) {
  /* Hero Section */
  header {
    height: 80vh;
  }
}
@media (max-width: 992px) {
  /* Hero Section */
  header {
    height: 80vh;
  }
}
